*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*
 * TAGS
 */
body {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	padding: 10px;
}
h1, h2 {
	color:#70ada6;
}
h1 {
	font-size:1.4em;
	margin-left: 5%;
}
h2 {
	font-size:1.2em;
}
span {
	font-weight:bold;
}
noscript {
	background-color: #FC7A57;
	border: 1px solid #941B0C;
	padding: 5px;
	width: 75%;
	text-align: center;
	line-height: 2em;
}

/*
 * GENERAL
 */
.container {
	background: #FFF;
	padding: 5%;
}
div#container {
	
}
div#content {
	margin: 0 auto;
	width: 90%;
	min-width: 250px;
	max-width: 1024px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	overflow: none !important;
}


/*
 * CONTENT
 */
p#description {
	text-align: left;
	margin: 0 0 0 5%;
	width: 50%;
	font-size: 1em;
}
#slidersScale {
	overflow:auto;
}
#scaleLeft {
	float: left;
	margin-left: 5px;
	text-align: left;
}
#scaleRight {
	float: right;
	margin-right: 5px;
	text-align: right;
}
div#sliders {
	float: left;
	width: 50%;
}


/*
 * SLIDERS
 */
.sliders {
	padding: 15px 1% 10px;
	margin: 0 0 5px 0;
	text-align: center;
}
div#slider1 {
	background: #e6e5ff;
}
div#slider2 {
	background: #f1f4b6;
}

div.rangeslider {
	margin: 0 0 10px 0;
	background: #f0f0f0;
}
div#js-rangeslider-0 .rangeslider__fill {
	background: #410e73;
}
div#js-rangeslider-1 .rangeslider__fill {
	background: #a8a873;
}
div.rangeslider__handle {
	max-width:40px;
}

span.slidersText, span.sliderScale {
	font-size: 0.8em;
}

/*
 * GRAPH
 */
div#graph {
	width: 50%;
	float: right;
}
 /* VERTICAL */
.vertical .progress-bar {
	float: left;
	height: 200px;
	width: 30%;
	margin: 0 10%;
}
.vertical .progress-track {
	position: relative;
	height: 100%;
	background: #f0f0f0;
}
.vertical .progress-fill {
	position: relative;
	width: 100%;
}

/* HORIZONTAL */
.horizontal .progress-bar {
	width: 100%;
	margin: 20px 0 0 0;
}
.horizontal .progress-bar p {
	margin: 5px 0 0 0;
}

.horizontal .progress-track {
	width: 100%;
	height: 50px;
	background: #f0f0f0;
	margin: 10px 0 0 0;
}

.horizontal .progress-fill {
  position: relative;
  height: 100%;
}

#bar1 {
	background-color: #410e73;
}
#bar2 {
	background-color: #a8a873;
}

.vertical div#graphs {
	width: 50%;
	margin: 0 auto;
}

.rounded .progress-track,
.rounded .progress-fill {
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	border-radius: 3px;
}
.options{
	color:#f5853f;
	font-weight: bold;
	text-decoration: underline;
}
#option1_text {
	color: #410e73;
}
#option2_text {
	color: #a8a873;
}
#option1_text, #option2_text {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
}

/***********************************************/
/* For responsive purpose, not implemented yet */
/***********************************************/
/* @media only screen and (max-device-width: 768px) {
	body {
		font-size: 12px;
	}
	p#description {
		font-size: 0.8em;
	}
	span#sliderScale{
		font-size: 0.8em;
	}
	span.sliderScale, span.slidersText {
		font-size: 0.6em;
	}
	#option1_text, .option1_text{
		font-size: 0.7em;
	}
	#option2_text, .option2_text{
		font-size: 0.7em;
	}
} */